html {
}
body {
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 2000px;
}
@media screen and (max-width: 1500px) {
  .nav-bottom {
    display: none;
  }
}
.nav-background {
  background-image: url("쇼핑몰사진1.jpg");
  width: 100%;
  height: 900px;
}
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.nav-top {
  background-color: transparent;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  padding-left: 50px;
}
.nav-right {
  padding-right: 50px;
}
.nav-right-list {
  list-style: none;
  display: flex;
}
.nav-right-list li {
  margin-right: 50px;
  padding: 10px 20px;
}
.nav-bottom {
  width: 100%;
}
.nav:hover {
  background-color: rgba(255, 255, 255, 0.99);
  color: black;
}
.nav-list {
  width: 100%;
}
.nav-list-lists {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-list-lists li {
  font-size: 20px;
  padding: 5px 15px;
}
.nav-list-lists-4 {
  position: relative;
}
.shop-images {
  display: flex;
  background-position: center;
  width: 80%;
  height: 1000px;
  margin: 50px auto;
}
.shop-images-left {
  background-image: url("쇼핑몰2.jpg");
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.shop-images-right {
  width: 50%;
  height: 1000px;
  margin-top: 25px;
  margin-left: 10px;
}
.shop-images-right-top {
  display: flex;
  height: 480px;
  background-size: cover;
  padding-bottom: 10px;
}
.shop-images-right-bottom {
  display: flex;
  height: 480px;
  background-size: cover;
}
.shop-images-right-top1 {
  background-image: url("쇼핑몰3.jpg");
  width: 50%;
  height: 480px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  position: relative;
}
.shop-images-right-top2 {
  width: 50%;
  height: 480px;
  background-image: url("쇼핑몰4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.shop-images-right-bottom1 {
  width: 50%;
  height: 100%;
  background-image: url("쇼핑몰5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  position: relative;
}
.shop-images-right-bottom2 {
  width: 50%;
  height: 100%;
  background-image: url("쇼핑몰6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}
.shop-relative {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 20px;
}
.shop-relative span {
  font-size: 30px;
}
.best-shop {
  text-align: center;
  margin-top: 100px;
  color: black;
  font-size: 35px;
}
.best-shop-list {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}
.best-shop-list-one {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.best-shop-list-one-list {
  width: 25%;
}
.best-shop-list-one-list img {
  width: 90%;
  padding: 10px;
  margin: 0px auto;
}
.best-shop-list-one-list span {
  margin-left: 10px;
}
.best-shop-list-one-list > span {
  font-weight: 600;
  font-size: 20px;
}
.best-shop-list-one-color {
  height: 10px;
  width: 10px;
  background-color: black;
  margin: 5px 5px;
  padding: 2px;
}
.best-shop-list-color {
  display: flex;
  margin-left: 10px;
}
.best-shop-list-color :nth-child(1) {
  background-color: black;
}
.best-shop-list-color :nth-child(2) {
  background-color: red;
}
.best-shop-list-color :nth-child(3) {
  background-color: brown;
}
.best-shop-list-color :nth-child(4) {
  background-color: darkorange;
}
.best-shop-list-one-box {
  border: 1px solid red;
  color: red;
  display: inline;
  margin-left: 10px;
}
.best-shop-list-one-box span {
  margin-right: 3px;
  font-size: 20px;
}
.best-shop-focus-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  color: black;
  font-size: 25px;
}
.best-shop-focus {
  width: 300%;
  display: flex;
  height: 800px;
  margin-bottom: 50px;
  position: relative;
  transition: transform 1s;
  justify-content: space-around;
}
.best-shop-focus1 {
  width: 40%;
  height: 500px;
  padding-right: 20px;
  padding: 70px;
}
.best-shop-focus2 {
  width: 40%;
  height: 500px;
  padding: 70px;
}
.best-shop-focus3 {
  width: 40%;
  height: 500px;
  padding-left: 20px;
  padding: 70px;
}

.best-shop-focus1 img {
  width: 100%;
  height: 500px;
  border-radius: 20%;
  border: 1px solid gray;
}
.best-shop-focus2 img {
  width: 100%;
  height: 500px;
  background-size: cover;
  border-radius: 20%;
  border: 1px solid gray;
}
.best-shop-focus3 img {
  width: 100%;
  height: 500px;
  background-size: cover;
  border-radius: 20%;
  border: 1px solid gray;
}
.button-left,
.button-right {
  position: absolute;
  color: gray;
  font-size: 100px;
  position: fixed;
}
.button-left {
  left: 49.5%;
  top: 25%;
}
.button-right {
  top: 25%;
  right: 39.5%;
}
.date-fit {
  width: 100%;
  background-color: gray;
  display: flex;
  margin-bottom: 50px;
}
.date-fit-imaageO {
  width: 30%;
}
.date-fit-imaageO img {
  width: 100%;
}
.date-fit-box {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: gray;
}
.date-fit-box-title {
  text-align: center;
  color: black;
  width: 100%;
  font-size: 25px;
  background-color: white;
  border: 1px solid gray;
}
.date-fit-box-image {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}
.shop-review {
  width: 100%;
  display: flex;
  height: 400px;
  margin-left: 8vw;
  margin-bottom: 300px;
}
.shop-review-left {
  width: 40%;
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 50px;
  justify-content: center;
  box-sizing: border-box;
}
.shop-review-left p {
  margin: 0;
}
.shop-review-left-box {
  margin-top: 40px;
  border: 2px solid white;
  width: 17%;
  text-align: center;
  padding: 15px;
  margin-bottom: 40px;
}
.shop-review-right {
  width: 40%;
  background-color: dimgray;
  padding-left: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
  align-items: center;
}
.shop-review-right h1 {
  margin: 0;
}
.shop-review-right-box2 {
  border: 2px solid white;
  margin-top: 30px;
  width: 30%;
  text-align: center;
  padding: 15px;
}
.shop-review-right-list ul {
  list-style: none;
}
.shop-review-right-list li {
  border-bottom: 1px solid whitesmoke;
  color: white;
  padding: 20px;
}
.shop-final {
  width: 100%;
  display: flex;
  border-top: 1px solid gray;
  height: 300px;
  color: black;
  justify-content: space-around;
}
.final2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  margin: 0;
  padding: 0;
}
.shop-final1 {
  display: flex;
  margin: 0;
  padding: 0;
  width: 17%;
  flex-direction: column;
  padding-left: 60px;
}
.shop-final h1 {
  margin: 0;
}
.inform {
  width: 100%;
  height: 300px;
  background-color: rgb(70, 60, 60);
}
.inform-top {
  color: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.inform-top ul {
  list-style: none;
  display: flex;
  margin-bottom: 50px;
}
.inform-top-icons {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.inform-top-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: gray;
  margin: 10px;
}
.inform-top li {
  margin-top: 15px;
  padding-right: 10px;
  margin-left: 20px;
  border-right: 1px solid gray;
}
.end {
  display: flex;
}
.end div {
  margin-right: 15px;
  border: 1px solid white;
  padding: 20px;
}
